<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>crudJSF</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>BootsFaces_THEME</param-name>
		<param-value>#{theme.internalTheme}</param-value>
	</context-param>
	<context-param>
		<param-name>BootsFaces_USETHEME</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<data-source>
		<name>java:global/MyCRUD</name>
		<class-name>org.h2.jdbcx.JdbcDataSource</class-name>
		<url>jdbc:h2:C:\Users\Artur\eclipse-workspace\crudJSF\crud</url>
	</data-source>
	<security-constraint>
      <web-resource-collection>
        <web-resource-name>ForceHTTPS</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>protectedPages</web-resource-name>
			<url-pattern>/add.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>USER</role-name>
	</security-role>
    
</web-app>